# Keep environment variables out of version control
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
/prisma/.env
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/

# Jest
coverage/
jest-cache/
jest.config.js

# Logs
logs
*.log
*.log.*

# OS/IDE related
.DS_Store
.vscode/
.idea

# Docker
docker-compose.override.yml
docker-compose.override.yaml

# Optional: Ignore the Prisma Client (optional if you generate it on deployment)
# Comment this line if you want to commit your generated Prisma Client.
node_modules/.prisma/

# TypeChain (if you use it for smart contract types)
typechain/

# Build Output
out/

# Debugging
*.swp

# Twitter sessions
py-scraper/sessions/
